doctype html
html
  head
    meta(charset='UTF-8')
    link(href='vendor/github1.css', rel='stylesheet')
    link(href='vendor/github2.css', rel='stylesheet')
    link(href='styles/popup.css', rel='stylesheet')
    script(src='vendor/google-analytics-bundle.js')
    script(src='vendor/frameworks.js')
    script(src='vendor/github.js')
    script(src='scripts/popup.js')
  body#popup
    .spinner
      img(src='http://assets-cdn.github.com/images/spinners/octocat-spinner-64.gif')
